@page "/ForgotPassword"
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager
<div class="forgot-body">
<div>
       <img src="images/bgforgot.jpg" alt="BackgroundForgot" class="BackgroundForgot-image" />
    <div class="forgot-password-container">
            <img src="images/forgot.png" alt="Forgot Password" class="forgot-image" />
        <h2 class="form-forgotheading">Forgot Password</h2>
        <p clss="form-forgottext">We will send you an One Time Password on this email</p>

        <EditForm Model="@forgotPasswordModel" OnValidSubmit="@ProcessForgotPassword">
            <DataAnnotationsValidator />
            <div class="form-group">
              
                <InputText class="form-inputforget" @bind-Value="forgotPasswordModel.Email" placeholder="Email" />
                <ValidationMessage For="@(() => forgotPasswordModel.Email)" />
            </div>
            
            <button class="form-submit" @onclick="NavigatetoGETOTP" style="cursor: pointer;">GET OTP</button>
        </EditForm>
    </div>
</div>
</div>
@code {
    private ForgotPasswordModel forgotPasswordModel = new ForgotPasswordModel();

    private void ProcessForgotPassword()
    {
        // Logic gửi email reset mật khẩu
        Console.WriteLine("Yêu cầu đặt lại mật khẩu đã được gửi.");
    }

    public class ForgotPasswordModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; }
    }
    private void NavigatetoGETOTP()
    {
        NavigationManager.NavigateTo("../GETOTP", forceLoad: true);
    }

}
